@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

$paragraphTextColor: hsl(0, 0%, 63%);
nav{
    display: none;
} 
#manufacture-section,#available-section{
    display: none;
}

body{
    font-family: 'Spartan', sans-serif;
    padding:0;
    margin:0;
}

p{
    font-size:12px;
    color:$paragraphTextColor;
    line-height: 20px;
}

.text{
    padding:2em;
}

.controls{
    background:hsl(0%,0%,0%);
    position:absolute;
    width:fit-content;
    float:right;
    top:40vh;
    left:100%;
    transform: translateX(-100%);
    padding:1em 1em;
    display: flex;
    justify-content: space-between;
    button{
        background:none;
        border:none;
    }
    .btn-separator{
        width:50px;
    }
}

.img-container{
    height:50vh;
    .img{
        height: 100%;
        width:100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.shop-btn{
    background:none;
    border:none;
    letter-spacing: 10px;
    font-weight: 500;
    margin-top:20px;
    color:hsl(0, 0%, 0%);
    text-transform: uppercase;
}

.intro{
    .discover-img{
        background-image: url('../images/mobile-image-hero-1.jpg');
    }
}

.about{
    .about-img-container{
        height:30vh;
    }
    .about-dark-img{
        background-image: url('../images/image-about-dark.jpg');
    }
    .about-light-img{
        background-image: url('../images/image-about-light.jpg');
    }
    .about-text{
        h3{
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size:.8rem;
        }
    }
}

@media only  screen and (min-width: 768px){
    .intro{
        .discover-img{
            background-image: url('../images/desktop-image-hero-1.jpg');
        }
    }
    .controls{
        top:50vh;
    }
    .img-container{
        height:60vh;
    }
    .about{
        .about-img-container{
            height:40vh;
        }
    }
}

@media only screen and (min-width: 1024px){
  .intro,.about{
      display: flex;
  }
  .img-container{
      height: auto;
      width:70%;
      height:80vh;
  }
  .text{
      width:30%;
      padding:5em;
  }
  
  .about{
      
      .about-img-container{
          height: auto;
      }
      
      .about-text{
          padding:4em 3em;
          width:70%;
      }
  }

}